<div class = "block m-auto w-1/2 bg-gray-50"> 
  <%= Phoenix.HTML.Form.form_for @conn, ~p"/table/create", [class: "text-center"], fn _f -> %>
    <%= Phoenix.HTML.Form.submit "Open Table", class: "bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2" %>
  <% end %>
</div>
